# URL веб-приложения Google Apps Script (обязательно для RSVP)
NEXT_PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxvtc1T1ElkUZhSU_RJL53oCopOow8FXPI5kgf6ce8ylHXytOGoOB8LWO__t8gBeFWg/exec